/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body Background Gradient */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
     background: linear-gradient(to right, #00c6ff, #0072ff);

}

/* Card Container */
.container {
    background: #ffffff;
    padding: 40px 50px;
    width: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

/* Heading */
.container h1 {
    color: #00aaff;
    margin-bottom: 15px;
    font-size: 28px;
}

/* Paragraph */
.container p {
    color: #555;
    margin-bottom: 25px;
    font-size: 16px;
}

/* Button */
button {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* Button Hover Effect */
button:hover {
    background: #ff1e4d;
    transform: scale(1.05);
}

/* Result Text */
#result {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
